body {
    width: 300px;
}

.content {
    padding: 10px;
}

h2 {
    margin-bottom: 10px;
}

.pure-g {
    margin-bottom: 7px;
}

.muted {
    color: #666;
}

.bold {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.dropbtn {
    padding: 5px 10px;
    font-size: 12px;
    width: 100%;
    background-color: #e0e7e0;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e0e7e0;
}

#settings {
    text-decoration: none;
    color: inherit;
}

#search {
    margin-bottom: 10px;
}

#newTab {
    margin-left: 5px;
}

#ai-insights-results {
    margin-top: 10px;
}

#create-ado-work-item{
    margin-top: 10px;
}

.HeaderStyle{
    display: flex;
    gap: 10px;
    color: black;
    font-weight: bold;
    font-size: large;
}

.new-tab-checkbox-container{
    cursor: pointer;
}

.setting-gear-icon{
    cursor: pointer;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
  display: none; /* initially hide the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}